﻿html, body {
    margin: 0;
    padding: 8px;
    overflow: hidden;
}

body {
    background: #555 url('../img/bg.png') repeat-x 0 50%; 
    color: #eee;
    margin: 0;
    padding: 0;
    height: 100%;
    -o-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

#game {
    position: relative;
    height: 100%;
    z-index: 1;
}

#info.show {
    bottom: 0;
}

#info {
    position: absolute;
    left: 0;
    height: 180px;
    bottom: -180px;
    right: 0;
    z-index: 2;
    pointer-events: none;
    -o-transition: bottom 0.6s;
    -moz-transition: bottom 0.6s;
    -webkit-transition: bottom 0.6s;
    transition: bottom 0.6s;
}

#preview {
    display: block;
    margin: 8px;
}